.card {
  z-index: 100;
  position: relative;
  background-color: #fff;
  padding: 1.5rem;
  padding-top: 0;
  max-width: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  border-radius: 2rem;
  box-shadow: 0px 0px 20px 2px #dadada;
  transition: all 0.2s ease-in-out;
}
.cardContainer {
  position: relative;
}

.backCard {
  position: absolute;
  top: 0;
  transition: all 0.2s ease-in-out;
}

.cardContainer:hover .backCard {
  transform: translate(-2rem, -8rem) rotate(-2deg);
}

.cardContainer:hover .card {
  transform: translate(3rem, 7rem) rotate(15deg);
}
